* {
    margin: 0;
    box-sizing: border-box;
}

.profile {  
    width: 80%;
    font-size:2rem;
    font-weight:bold;
    color:#b85b05;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    text-wrap:nowrap;
}

.profile-info {
    display: flex;
    align-items: center;
}
.profile-description {
    text-align:center;
}

#profilePicture {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

table {
    width: 80%;
    min-height: 400px;
    background-color: whitesmoke;
    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
}

tr:nth-child(1) {
    font-size: 1.5rem;
}

td {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    align-content: center;
    text-align: center;
    color: rgb(12, 116, 176);
}
