<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messaging page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="./Messaging.css" />
    <script src="./messaging.js"></script>
  </head>
  <body>
    <div class="messaging" style="position: absolute">
      <span
        class="material-symbols-outlined"
        style="text-align: right; cursor: pointer"
      >
        close
      </span>
      <div class="" id="messaging_child">
        <div class="search_upper_wrapper">
          <div class="search_wrapper">
            <input type="search" class="search_input" />
            <span
              class="material-symbols-outlined"
              style="
                border: 1px solid gray;
                padding: 6px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: white;
              "
            >
              search
            </span>

            <span
              class="material-symbols-outlined"
              style="cursor: pointer; padding: 6px"
            >
              settings
            </span>
          </div>
        </div>

        <div
          class="message_section"
          id="message_section"
          onclick="handleShowPeople()"
        >
          <span class="material-symbols-outlined"> chevron_right </span>
          <p
            style="font-size: large; font-weight: 500; color: rgb(15, 15, 121)"
          >
            Private (4)
          </p>
        </div>

        <div
          class="message_section"
          id="message_section"
          onclick="handleShowPeople()"
        >
          <span class="material-symbols-outlined"> chevron_right </span>
          <p
            style="font-size: large; font-weight: 500; color: rgb(15, 15, 121)"
          >
            Group (2)
          </p>
        </div>

        <div class="peoples_wrapper hid" id="peoples_wrapper">
          <div class="people_profile">
            <img src="/assets/download.jpeg" alt="" />
            <div>
              <p style="font-size: large; color: #191986; font-weight: 600">
                Amanuel Wonde
              </p>
              <p style="color: rgb(117, 108, 108); margin-top: 3px">
                Hi how you doing. is there any class today.
              </p>
            </div>
            <span
              class="material-symbols-outlined"
              style="text-align: right; padding: 12px 24px"
              onclick="handleShowTextArea()"
            >
              chevron_right
            </span>
          </div>
        </div>
      </div>

      <div class="texting_area hid" id="texting_area">
        <div class="people_profile">
          <span
            class="material-symbols-outlined"
            style="text-align: right; padding: 12px 2px"
            onclick="handleShowMessagingWrapper()"
          >
            chevron_left
          </span>
          <img src="/assets/download.jpeg" alt="" />
          <div>
            <p style="font-size: large; color: #191986; font-weight: 600">
              Amanuel Wonde
            </p>
            <p style="color: rgb(117, 108, 108); margin-top: 3px">online</p>
          </div>
        </div>
        <div class="message_display_area"></div>
        <textarea
          name=""
          id=""
          cols="40"
          rows="4"
          placeholder="Write a message..."
        ></textarea>
        <span
          class="material-symbols-outlined"
          style="text-align: right; color: blue; cursor: pointer"
        >
          send
        </span>
      </div>
    </div>
  </body>
</html>
