@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Press Start 2P", sans-serif;
  background: #222;
}

canvas {
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
}
button {
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
  background-color: #60b347;
  padding: 20px;
  margin-left: 25px;
  border: none;
  border-radius: 10px;
  display: none;
}
button.start {
  display: block;
}

button:active {
  background-color: burlywood;
  color: black;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #222;
}

.score {
  color: #fff;
  font-size: 24px;
  padding: 0 30px 20px 30px;
}
.instruction {
  display: flex;
  justify-content: center;
}
.buttons {
  font-size: 18px;
}
